// dev dependencies
node_modules
bower_components

// npm
npm_debug.log

// OS X
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

// windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/